.axis {
	-fx-tick-length: 20;
	-fx-minor-tick-length: 10;
}
.axis-tick-mark {
	-fx-stroke: maroon;
	-fx-stroke-width: 3;
}
.axis-minor-tick-mark {
	-fx-stroke-width: 1;
}
.chart-plot-background {
	-fx-border-style: solid;
	-fx-border-width: 3px;
}
.chart-series-line {
	-fx-stroke-width: 0px;
}
.classifier-series {
	-fx-stroke-width: 2px;
}
.classifier-node {
	-fx-background-color: transparent, transparent;
}
